@use "src/assets/styles/colors";

.button {
  width: 50px !important;
  height: 50px !important;

  & > * {
    fill: #fff !important;
  }
}

.content {
  height: calc(100vh - 80px);
  width: 100%;
  bottom: 0;
  position: fixed;
  left: 0;
  background-color: colors.$main_darker_color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.link {
  width: 90%;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: colors.$font_color;
  border-radius: 8px;
}
